.catalog {

}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__text {
  line-height: 30px;
}

.catalog__post {
  width: 280px;

  &:nth-child(1) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.catalog__post-content {
  background-color: $base-bg;
}

.catalog__post-time {
  font-weight: 300;
  font-size: 12px;
}

.catalog__post-like {
  font-size: 12px;
  color: $rare-color;
}
