.catalog {

}

.catalog__text {
  line-height: 30px;
}

.catalog__post-content {
  background-color: $base-bg;
}

.catalog__post-time {
  font-weight: 300;
  font-size: 12px;
}

.catalog__post-like {
  font-size: 12px;
  color: $rare-color;
}
