.designed {
  display: flex;
  text-decoration: none;
  color: inherit;
  line-height: 18px;
  margin: 39px 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
  }
}

.designed:hover .designed__icon {
  fill: #283645;
}

.designed:active .designed__icon {
  fill: #283645;
  opacity: 0.3;
}

.designed__text {
  margin-top: 6px;
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.designed__icon {
  fill: $rare-color;
}
