.download {
  background-color: #1d2631;
}

.download__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.download__text {
  font-weight: 300;
  color: #ffffff;
}
