.editor {
  background-color: $base-bg;
}

.editor__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  &--post {
    color: $rare-color;
  }

  &--cancel {
    opacity: 0.1;
  }
}
