.editor {
  background-color: $base-bg;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.editor__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.editor__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  &--post {
    color: $rare-color;
  }

  &--cancel {
    opacity: 0.1;
  }
}
