.footer {

}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
