.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 936px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 435px);
    grid-row-gap: 64px;
    grid-column-gap: 68px;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 56px;
  }
}

.form .wrapper {
  @media (min-width: $desktop-width) {
    width: 431px;
  }
}

.form__set .wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: -25px;
  }
}

.form__set {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  width: 100%;

  &--bg {
    background-color: $base-bg;
  }

  &--text {
    padding: 34px 0 40px;
  }

  &--radio,
  &--checkbox {
    padding: 39px 0 48px;
    text-align: left;
  }

  &--area {
    padding: 34px 0 47px;
  }

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    &--text {
      padding: 40px 0 19px;
      margin-bottom: 25px;
    }

    &--bg {
      background-color: inherit;
    }

    &--radio,
    &--checkbox {
      padding: 0 0 4px;
      text-align: center;
    }

    &--area {
      padding: 41px 0 48px;
    }

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 5;
    }
  }

  @media (min-width: $desktop-width) {
    &--checkbox,
    &--area,
    &--swap {
      grid-column: 1 / -1;
      padding: 0;
      margin: 0;
    }

    &--checkbox {
      margin-top: -21px;
    }

    &--text {
      margin-top: 54px;
    }

    &--swap {
      margin-top: -64px;
    }

    &--radio {
      margin-top: 17px;
      padding-bottom: 17px;
    }

    &--area {
      margin-top: -20px;
    }
  }
}

.form__set--nb .wrapper {
  border: none;
}

.form__set--area .wrapper,
.form__set--swap .wrapper,
.form__set--checkbox .wrapper {
  @media (min-width: $desktop-width) {
    width: 936px;
  }
}


.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 56px 60px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 47px;
    width: 320px;
  }
}

.form__radio-mark-container {
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 13px;
  }
}

.form__radio:checked + .form__radio-mark-container .form__radio-mark::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #d22856;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__radio-control {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #222222;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    padding-left: 60px;
  }
}

.form__radio-mark {
  position: absolute;
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  &:hover {
    border: 2px solid #283645;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: 14px;
    left: -4px;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.form__radio:focus-visible + .form__radio-mark-container .form__radio-mark {
  border: 2px solid #d22856;
}

.form__radio:disabled + .form__radio-mark-container {
  opacity: 0.3;
}

.form__radio:active + .form__radio-mark-container .form__radio-mark {
  border: 2px solid #d22856;
}

.form__checkbox:checked + .form__checkbox-mark-container .form__checkbox-mark::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background: url("../img/tick.svg") center no-repeat;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.form__checkbox-control {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #222222;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    padding-left: 60px;
  }
}

.form__checkbox-mark {
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  top: -7px;
  left: 0;

  &:hover {
    border: 2px solid #283645;
  }

  @media (min-width: $tablet-width) {
    left: -2px;
  }

  @media (min-width: $desktop-width) {
    left: -4px;
  }
}

.form__checkbox-mark-container {
  margin-left: 14px;

  @media (min-width: $tablet-width) {
    margin-left: -3px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin-left: -6px;
  }
}

.form__checkbox:focus-visible + .form__checkbox-mark-container .form__checkbox-mark {
  border: 2px solid #d22856;
}

.form__checkbox:disabled + .form__checkbox-mark-container {
  opacity: 0.3;
}

.form__checkbox:active + .form__checkbox-mark-container .form__checkbox-mark {
  border: 2px solid #d22856;
}

.form__mark {
  margin: 0;
}

.form__set--radio .form__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__set--radio .form__item {
  &:not(:last-child) {
    margin-bottom: 51px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.form__set--checkbox .form__item {
  &:not(:last-child) {
    margin-bottom: 58px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 257px;

    &:nth-child(1) {
      order: 1;
      margin-right: 58px;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
      margin-right: 38px;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.form__set--checkbox .form__title {
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    padding: 14px 31px;
    margin-bottom: 0;
  }
}

.form__set--checkbox .form__list {
  @media (min-width: $tablet-width) {
    padding: 56px 60px 53px;
  }

  @media (min-width: $desktop-width) {
    grid-row-gap: 0;
    width: auto;
    padding: 56px 60px 8px;
  }
}

.form__set--text .form__title {
  padding: 14px 31px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding: 14px 31px;
    margin-left: 200px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 338px;
  }
}

.form__set--text .form__label {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
}

.form__set--text span {
  margin-left: 23px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__set--text .form__text {
  &:hover {
    border: 2px solid #283645;
  }

  &:not(:placeholder-shown) {
    border: 2px solid $rare-color;
  }
}

.form__set--swap .form__label {
  &:not(:last-child) {
    margin-bottom: 15px;
  }


  @media (min-width: $tablet-width) {
    align-items: flex-start;
    flex-direction: column;
    margin: 0 58px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 13px 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.form__label {
  @media (min-width: $tablet-width) {
    &--phone::before {
      content: "";
      display: block;
      position: absolute;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      background-image: url("../img/telephone.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: 2px;
      top: 2px;
    }

    &--mail::before {
      content: "";
      display: block;
      position: absolute;
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      right: 2px;
      top: 2px;
    }
  }
}

.form__set--swap span {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 10px;
    margin-left: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.form__set--swap .form__text {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 20px 79px 20px 20px;
    width: 397px;
  }

  @media (min-width: $desktop-width) {
    width: 272px;
  }
}

.form__set--swap .wrapper {
  @media (min-width: $tablet-width) {
    padding: 44px 0 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 0 0;
  }
}


.form__set--radio .form__title {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding: 14px 25px;
    margin-bottom: 0;
  }
}

.form__set--area .form__title {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 14px 38px;
    margin-left: 200px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 338px;
  }
}


.form__label,
.form__title {
  color: $rare-color;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__title {
  line-height: 18px;
  margin: 0;
  text-align: center;
  font-weight: 400;

  @media (max-width: $mobile-width-only) {
    &--change {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin-bottom: 0;
    display: inline-block;
  }
}

.form__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 19px;

  &::placeholder {
    color: #283645;
  }

  margin-top: 6px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 19px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }
}

.form__label-text {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-transform: none;
}

.form__comment {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  height: 170px;
  padding: 14px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 29px;

  &::placeholder {
    color: #283645;
  }

  @media (min-width: $tablet-width) {
    margin: 45px 60px 50px;
    padding: 15px 20px 5px;
  }

  @media (min-width: $desktop-width) {
    height: 104px;
    margin: 42px 56px 44px;
    padding: 15px 20px 5px;
  }
}

.form__button-wrapper {
  order: 6;
}

.form__fill {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.form__button-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 7px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0;
  }
}

.form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  text-transform: uppercase;
  width: 278px;
  color: #ffffff;
  background: #2aab6d;
  border: none;
  border-radius: 1px;
  padding: 25px 45px;
  margin-bottom: 35px;

  &:hover {
    background: #1c9b5e;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &:disabled {
    background: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 25px 56px;
    width: 299px;
  }
}
