.header {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 66px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.header__logo {
  padding: 22px 20px 21px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding: 27px 20px 43px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 153px;
  }
}

.header__logo:hover .header__logotype {
  fill: $rare-color;
}

.header__logo:active .header__logotype {
  fill: #ffffff;
  opacity: 0.3;
}

.header__logotype {
  width: 74px;
  height: 23px;
  fill: #ffffff;

  &--tab {
    display: none;
  }

  &--desk {
    display: none;
  }

  &:hover {
    fill: $rare-color;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;

    &--mob {
      display: none;
    }

    &--tab {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 147px;

    &--tab {
      display: none;
    }

    &--desk {
      display: block;
    }
  }
}
