.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: -66px;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
  }
}

.main__header {
  background-image: url(../img/building-m.png);

  @media (min-resolution: 2dppx) {
    background-image: url(../img/building-m@2x.png);
  }
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  height: 237px;
  position: relative;

  &--index {
    height: 462px;

    &::before {
      content: "";
      display: block;
      position: relative;
      height: 286px;
      background-image: url(../img/phone-m.png);
      background-repeat: no-repeat;
      bottom: -175px;

      @media (min-resolution: 2dppx) {
        background-image: url(../../img/phone-m@2x.png);
        background-size: 320px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    height: 440px;
    background-image: url(../img/building-tab.png);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/building-tab@2x.png);
    }

    &--index {
      height: 729px;
      background-image: url(../img/building-t.png);

      @media (min-resolution: 2dppx) {
        background-image: url(../img/building-t@2x.png);
      }

      &::before {
        height: 545px;
        background-image: url(../img/phone-t.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/phone-t@2x.png);
          background-size: 660px auto;
        }
        top: 185px;
        left: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    height: 394px;
    background-image: url(../img/building-desk.png);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/building-desk@2x.png);
    }

    &--index {
      background-image: url(../img/building-d.png);

      @media (min-resolution: 2dppx) {
        background-image: url(../img/building-d@2x.png);
      }
      height: 853px;

      &::before {
        background-image: url(../img/phone-d.png);

        @media (min-resolution: 2dppx) {
          background-image: url(../img/phone-d@2x.png);
          background-size: 1050px auto;
        }
        width: 1050px;
        height: 645px;
        top: 208px;
        left: 150px;
      }
    }
  }
}

.main__header-title {
  width: 280px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
  margin-top: 99px;
  top: 102px;
  text-align: center;

  &--index {
    width: 280px;
    top: -289px;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    &--form {
      width: 500px;
    }
    font-size: 40px;
    line-height: 48px;
    margin-top: 191px;
    z-index: 2;
    top: -531px;
    left: -163px;
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      width: 358px;
    }

    &--form {
      width: 747px;
    }
    font-size: 50px;
    line-height: 68px;
    margin-top: 184px;
    top: -626px;
    left: -328px;
  }
}

