.navigation {
  min-width: 66px;
  position: relative;
}

.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 33px 33px;

  @media (min-width: $tablet-width) {
    padding: 55px 55px;
    left: -65px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: 20px;
  left: 8px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;

  @media (min-width: $tablet-width) {
    left: 33px;
    top: 40px;
  }
}

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 26px;
    width: 33px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: inherit;
  width: 620px;

  @media (min-width: $desktop-width) {
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.navigation__item {
  height: 63px;
  text-align: center;
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;

  @media (min-width: $desktop-width) {
    height: 43px;
    width: auto;
    border: none;
    background-color: transparent;

    &--current {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.navigation__link {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover {
    color: $rare-color;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    width: auto;
  }
}
