.specifications {
  padding-top: 42px;
}

.specifications__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    text-align: center;
  }
}

.specifications__list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style-type: none;
  background-color: $base-bg;
  text-align: center;
  position: relative;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: -203px;
  //   border: 176px solid transparent;
  //   border-right: 1172px solid $base-bg;
  //   border-bottom: 27px solid $base-bg;
  // }

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.specifications__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 53px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.specifications__item-title {
  color: #000000;
  font-size: 18px;
  line-height: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.specifications__text {
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 252px;
  }
}

.specifications__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 43px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    margin: 0;
    margin-top: 300px;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 68px;
    }
  }
}

.specifications__item:nth-child(1) .specifications__item-title {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/screen-1d.png");
      top: -345px;
      left: -20px;
      width: 300px;
      height: 301px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/screen-1d@2x.png");
        background-size: 300px auto;
      }
    }
  }
}

.specifications__item:nth-child(2) .specifications__item-title {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/screen-2d.png");
      top: -345px;
      left: -20px;
      width: 300px;
      height: 301px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/screen-2d@2x.png");
        background-size: 300px auto;
      }
    }
  }
}

.specifications__item:nth-child(3) {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 325px;
  }
}

.specifications__item:nth-child(3) .specifications__item-title {
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../img/screen3-m.png");
    background-repeat: no-repeat;
    width: 157px;
    height: 277px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/screen3-m@2x.png");
      background-size: 157px auto;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/screen3-t.png");
      left: -312px;
      bottom: -50px;
      height: 482px;
      width: 268px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/screen3-t@2x.png");
        background-size: 268px auto;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/screen-3d.png");
      top: -345px;
      left: -20px;
      width: 300px;
      height: 301px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/screen-3d@2x.png");
        background-size: 300px auto;
      }
    }
  }
}
