.table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    width: 300%;
    transform: translateX(-33%);
  }
}

.table__head {
  background: #283645;
  border: 2px solid #283645;
  color: #ffffff;
  width: 276px;
  height: 94px;
  padding: 19px 0 35px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  &--first {
    border-radius: 1px 0 0 0;
    border-left: none;
  }

  &--last {
    border-radius: 0 1px 0 0;
    border-right: none;
  }

  &:nth-child(3) {
    position: relative;

    &::before {
      content: "ХИТ";
      display: block;
      position: absolute;
      background-color: $rare-color;
      width: 160px;
      height: 24px;
      transform: rotate(-45deg);
      overflow: hidden;
      top: 20px;
      left: -50px;
      align-items: center;
    }
  }

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 40px;
    padding: 19px 0 16px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    height: 46px;
    padding: 23px 0 25px;
  }
}


.table__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.table__title-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.table__data {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  width: 156px;
  height: 45px;

  &--clear {
    background-color: $base-bg;
    border: none;
  }

  &--lt {
    border-radius: 1px 0 0 0;
  }

  &--rt {
    border-radius: 0 1px 0 0;
  }

  &--lb {
    border-radius: 0 0 0 1px;
  }

  &--rb {
    border-radius: 0 0 1px 0;
  }

  &--yes {
    background-image: url(../img/yes.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--no {
    background-image: url(../img/no.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 276px;
    height: 59px;

    &--nm {
      display: none;
    }

    &--yes {
      background-position-x: 228px;
    }

    &--no {
      background-position-x: 226px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    height: 59px;
  }
}

.table__data-text {
  font-size: 14px;
  line-height: 30px;
  margin-left: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.table__text {
  line-height: 30px;
  margin-left: 15px;
}
