.table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    width: 300%;
    transform: translateX(-33%);
  }
}

.table__head {
  background: #283645;
  border: 2px solid #283645;
  color: #ffffff;
  width: 276px;
  height: 94px;

  &--first {
    border-radius: 1px 0 0 0;
  }

  &--last {
    border-radius: 0 1px 0 0;
  }
}


.table__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.table__title-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.table__data {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  width: 156px;
  height: 45px;

  &--clear {
    background-color: $base-bg;
    border: none;
  }

  &--lt {
    border-radius: 1px 0 0 0;
  }

  &--rt {
    border-radius: 0 1px 0 0;
  }

  &--lb {
    border-radius: 0 0 0 1px;
  }

  &--rb {
    border-radius: 0 0 1px 0;
  }

  &--yes {
    background-image: url(../img/yes.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--no {
    background-image: url(../img/no.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 276px;
    height: 56px;

    &--nm {
      display: none;
    }
  }
}

.table__text {
  line-height: 30px;
}
