@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), ("../../fonts/opensans.woff");
  font-display: swap;
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), ("../../fonts/opensansbold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"), ("../../fonts/opensanslight.woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #ffffff;
}
